[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bandit = "*"
build = "*"
bump-my-version = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"
twine = "*"
{%- if cookiecutter.code_formatter == 'Black' %}
black = "*"
{%- endif %}

[style]
ruff = "*"
{%- if cookiecutter.code_formatter == 'Black' %}
black = "*"
{%- endif %}

[docs]
myst-parser = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
