[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"

[dev-packages]
build = "*"
bump-my-version = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cookies = "*"
pytest-cov = "*"
ruff = "*"

[docs]
myst-parser = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
