[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
importlib-resources = "*"

[dev-packages]
build = "*"
bump-my-version = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cookies = "*"
ruff = "*"
